/* 1. VARIABLES DE DISEÑO */
:root {
  --primary-color: #06002C;
  --secondary-color: #EC135D;
  --tercer-color: #FBB03B;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --font-family-base: 'Poppins', sans-serif;
  --font-family-titles: "Rajdhani", sans-serif;
}

/* 2. ESTILOS GENERALES */
body {
  font-family: var(--font-family-base);
  color:rgb(255, 255, 255);
  background-color: #06002C;
;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-titles);
}
}


.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}





/* 3. NAVBAR */
.navbar {
  background-color: var(--secondary-color);
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 15px 0;
}

.navbar.scrolled {
  background-color: #EC135D;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  font-weight: 600;
  font-size: 1.7rem;
  color: var(--light-color);
}

.nav-link {
  color: var(--light-color);
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--primary-color);
}




input::placeholder,
textarea::placeholder {
  color: #888;
}

form .form-control {
  border: none;
  padding: 1rem;
}

form textarea.form-control {
  resize: none;
}






/* 4. HERO */
.row.p-5 {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--dark-color);
}

p {
  font-size: 1rem;
  color: #ffffff;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1300px; /* o lo que quieras */
  padding: 0 30px;
  margin: 0 auto;
}
/* 4. HERO */


  

/* 4. HERO Detalle */
.hero-sectiondetalle {
  min-height: 100vh;
  padding-top: 80px;
  background-image: url('imagenes/Fondo\ 4.png');
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
   width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-contentdetalle {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1300px; /* o lo que quieras */
  padding: 0 30px;
  margin: 0 auto;
}



.bg-geekswap{
  min-height: 100vh;
  padding-top: 80px;
  background-image: url('imagenes/Fondo\ 6.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
   width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


/* 4. GEEKSWAP */
.geekswap {
  min-height: 100vh;
  padding-top: 80px;
  background-image: url('imagenes/Fondo\ 6.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
   width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.geekswap-content {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1300px; /* o lo que quieras */
  padding: 0 30px;
  margin: 0 auto;
}




/* QUE INCLUYE 2 DETALLE */

.box-section {
  min-height: 40vh;
}

.item-box {
  background-color: #EC135D;
  border-radius: 12px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.item-label {
  margin-top: 15px;
  color: white;
  font-size: 1rem;
}
/* QUE INCLUYE 2 DETALLE */




/* Botones */
.btn {
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.btn-dark {
  background-color: var(--secondary-color);
  border: none;
}

.btn-dark:hover {
  background-color: #ff4382;
}

.btn-light {
  background-color: var(--primary-color);
  border: none;
}

.btn-light:hover {
  background-color: #130c77;
}

.btn-outline-dark {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-outline-dark:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* 5. SECCIONES */
section {
  padding: 100px 0;
}

section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  position: relative;
}

section h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: var(--primary-color);
  margin: 20px auto 0;
}


.bg-suscripciones2{
  background-image: url('imagenes/Fondo\ 7.png'); 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 80px;       
  padding-bottom: 80px;   
}
.bg-numeros{
  background-image: url('imagenes/fondo\ 2.png'); 
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;  
}



/* 6. CARDS */
.card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-color);
}

.masonry__container {
  column-count: 4;
  column-gap: 1rem;
}

.masonry__item {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.card-text {
  color: var(--light-color);
}
.card-text2 {
  color: var(--light-color);
  font-weight: 800;
}


/* 7. CARTAS 2 */
.card {
  background-color: var(--primary-color); 
  border: 2px solid white; /* Borde blanco */
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 2rem;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
}

/* 7. NUMEROS */
.seccion-estadisticas {
  background: url('imagenes/fondo-estadisticas.png') bottom center no-repeat;
  background-color: #f3f3f3;
  background-size: cover;
  position: relative;
}



/* 7. TESTIMONIOS */
.blockquote {
  background-color: var(--light-color);
  border-left: 4px solid var(--primary-color);
  padding: 20px;
  border-radius: 5px;
}

.testimonial {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.estrellas {
  color: #FBB03B;
  font-size: 24px;
  margin: 10px 0;
}

.comentario {
  font-size: 20px;
  margin: 20px 0;
}

.nombre {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.suscripcion {
  font-size: 14px;
  margin: 0;
  opacity: 0.8;
}
.testimonio-box {
  max-width: 700px;
  margin: 0 auto;
}







/* 8. FORMULARIO */
form .form-control {
  border-radius: 8px;
  border: 10px --secondary-color
}

form button.btn-primary {
  background-color: var(--primary-color);
  border: none;
  width: 100%;
  border-radius: 50px;
  margin-top: 20px;
}

/* FORMULARIO CONTACTO */
form .form-control {
  background-color: transparent;
  border: 2px solid  #EC135D;
  color: white;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
}

form .form-control::placeholder {
  color: white;
  opacity: 0.6;
}

form .form-control:focus {
  background-color: transparent;
  border-color: #FF92B2; /* Borde más claro al enfocar */
  color: white;
  box-shadow: none;
}


/* 9. FOOTER */
footer {
  background-color: #FBB03B;
  color: #ffffff;
  font-size: 0.9rem;
}

/* 10. IMÁGENES */
img.rounded-circle {
  border: 5px solid var(--light-color);
}

/* REDES SOCIALES*/
.social-icons a {
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: #000; /* o algún color que haga contraste */
  transform: scale(1.2);
}




/* 11. GALERÍA */
.container .row img {
  transition: transform 0.3s, box-shadow 0.3s;
}

.container .row img:hover {
  transform: scale(1.05);
}

/* ============================== */
/* CUSTOM HELPER CLASSES */
/* ============================== */

/* ============================== */
/* CUSTOM HELPER CLASSES */
/* ============================== */

/* TITULOS */
.h1-custom {
  font-size: 4rem;
  font-weight: 900;
  line-height: 1.1;
  color: var(--light-color);
}

.h2-custom {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--secondary-color);
}

.h3-custom {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--light-color);
}

.h4-custom {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--tercer-color);
}



/* PÁRRAFOS Y TEXTOS */
.p-custom {
  font-size:  1.2rem;
  color: var(--light-color);
  line-height: 1.6;
}
.p-custom2 {
  font-size:  1.2rem;
  color: var(--tercer-color);
  line-height: 1.6;
}
.lead-custom {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--secondary-color);
}
.lead-custom2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light-color);
}
/* FONDOS E IMÁGENES */
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-overlay-light {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(5px);
}

.bg-overlay-dark {
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  color: #fff;
}

.img-rounded {
  border-radius: 8px;
  overflow: hidden;
}

/* TEXTOS ADICIONALES */
.text-uppercase-custom {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-bold {
  font-weight: 700;
}

.text-muted-custom {
  color: #6c757d;
}

/* ESPACIADOS */
.section-spacing {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-spacing-sm {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* preguntas frecuentes */
.faq-button {
  background: none;
  border: none;
  color: white;
  width: 100%;
  text-align: left;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}
.faq-button:hover {
  color: #f4a742;
  cursor: pointer;
}
.faq-number {
  color: #f4a742;
  font-weight: bold;
  margin-right: 8px;
}
.arrow {
  font-weight: regular;
  font-size: 1rem;
}
.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 12px 0;
}
.faq-body {
  margin-top: 8px;
  color: #ccc;
  font-size: 0.95rem;
}




/* FAQ */
body {
  background-color: #09022b;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.faq-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.faq-column {
  flex: 1;
}

.faq-item {
  border-bottom: 1px solid white;
  padding: 1rem 0;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #ffa94d;
}

.faq-number {
  color: #f9a54b;
  font-weight: bold;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.faq-icon {
  transition: transform 0.3s ease;
  font-size: 1.2rem;
  margin-left: 1rem;
  color: white;
}

.faq-answer {
  display: none;
  margin-top: 0.5rem;
  color: #ccc;
  line-height: 1.5;
}

/* Active toggle */
.faq-question.active + .faq-answer {
  display: block;
}

.faq-question.active .faq-icon {
  transform: rotate(180deg);
}
/* FAQ */


/* ============================== */
/* MEDIA QUERIES */
/* ============================== */

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 992px) {
  .masonry__container {
    column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .masonry__container {
    column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .masonry__container {
    column-count: 1;
  }
}


/* CARRUSEL MARCAS */
.brand-carousel {
  background-color: #FBB03B;
  padding: 2.5rem 0; /* MÁS ALTO */
  overflow: hidden;
  border-top: 10px solid #0b063b;
  border-bottom: 10px solid #0b063b;
}

/* Track que se mueve */
.brand-track {
  display: flex;
  width: max-content;
  animation: scroll 35s linear infinite;
  gap: 6rem; /* Más separación */
  align-items: center;
}

/* Imágenes más grandes */
.brand-track img {
  height: 180px; /* ANTES: 80px */
  object-fit: contain;
  filter: brightness(0) saturate(100%) contrast(200%);
  transition: transform 0.3s;
}

.brand-track img:hover {
  transform: scale(1.15); /* Más efecto al hacer hover */
}

/* Animación continua */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}





